@import '../../../scss/color-variables.scss';


// ------------ Estilos globais ------------

.disable {
     display: none;
}

.form-section {
     width: 100%;
     background-color: white;
     border: 1px solid #ccc;
     border-radius: 8px;
     box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.1);
}

.title {
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 22px;
     padding: 2% 0 0 0;
}

.title img {
     margin-right: 1%;
     width: 40px;
}

.windown {
     width: 100%;
     height: 100%;
     margin: 0 auto;

     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
     margin-top: 10px;
     margin-bottom: 20px;
}

.column {
     display: flex;
     justify-content: center;
     flex-direction: column;
}


// ------------ Formulário - Estudante ------------

.image-profile {
     height: 250px;
     width: 25%;
     border-radius: 50%;
     border: 1px solid #ccc;
     display: flex;
     cursor: pointer;
     box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.1);
}

.image-profile input {
     opacity: 0;
     width: 100%;
     cursor: pointer;
}

.fields-student-form {
    display: grid;
    gap: 3%;
    grid-template-columns: 1fr 1fr; 
    width: 80%;
    margin-top: 20px;
}

.fields-student-form input {
     padding: 10px;
     border: 1px solid #ccc;
     border-radius: 8px;
     margin-bottom: 5%;
     box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.1);
} 

.fields label {
     margin-bottom: 3px;
}

.next-button-student-form {
     display: flex;
     align-items: center;
     font-size: 20px;
     width: 30%;
     justify-content: center;
     margin: 10px auto 20px auto;
     border: 1px solid #ccc;
     background-color: $primary-color;
     border-radius: 20px;
     color: white;
     cursor: pointer;
     box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.1);
}

.next-button-student-form p {
     margin-right: 2%;
}

// ------------ Formulário - Responsável ------------

.fields-responsible-form { 
     display: block;
     width: 80%;
     margin-top: 30px;
}

.fields-responsible-form input {
     width: 60%;
     margin: 0 auto;
     margin-bottom: 2%;
     padding: 10px;
     border: 1px solid #ccc;
     border-radius: 8px;
     box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.1);
}

select {
     width: 60%;
     margin: 0 auto 2% auto;
     padding: 10px;
     border: 1px solid #ccc;
     border-radius: 8px;
     box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.1);
}

.fields-responsible-form label, .fields-windown3 label {
     width: 60%;
     margin: 0 auto;
}

.buttons {
     margin: 2% auto;
     display: flex;
     width: 60%;
     justify-content: space-between;
}

.next-button-2 {
     display: flex;
     align-items: center;
     font-size: 20px;
     width: 48%;
     justify-content: center;
     // margin: 10px auto 20px auto;
     border: 1px solid #ccc;
     background-color: $primary-color;
     border-radius: 20px;
     color: white;
     cursor: pointer;
     box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.1);
}

.next-button-2 p {
     margin-right: 2%;
}

.back-button-2 {
     background-color: rgba(255, 255, 0, 0.826);
     color: black;
}

// ------------ Formulário - Escola ------------

.fields-school-form { 
     display: block;
     width: 80%;
     margin-top: 30px;
}

.fields-school-form input {
     width: 60%;
     margin: 0 auto;
     margin-bottom: 2%;
     padding: 10px;
     border: 1px solid #ccc;
     border-radius: 8px;
     box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.1);
}

.fields-school-form label {
     width: 60%;
     margin: 0 auto;
}

// ------------ Formulário - Medicamentos ------------

.fields-medication-form {
     display: block;
     width: 80%;
     margin-top: 30px;
}

.fields-medication-form input {
     width: 60%;
     margin: 0 auto;
     margin-bottom: 2%;
     padding: 10px;
     border: 1px solid #ccc;
     border-radius: 8px;
     box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.1);
}

.fields-medication-form label {
     width: 60%;
     margin: 0 auto;
}

.add-medication {
     border: 1px solid #ccc;
     width: 30%;
     padding: 1%;
     margin: 0 auto 20px auto;
     border-radius: 10px;
     cursor: pointer;
}

.add-medication .img {
     display: flex;
     justify-content: center;
     margin-bottom: 10px;
}

.add-medication p {
     font-size: 18px;
     text-align: center;
}

.form-medication {
     display: flex; //flex
     flex-direction: column;
}

.schadules {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     width: 60%;
     margin: 0 auto 20px auto;
}

.schadule {
     display: flex;
     flex-direction: column;
}

// ------------ Formulário - Doenças ------------

.fields-illness-form {
     display: block;
     width: 80%;
     margin-top: 30px;
}

.fields-illness-form input {
     width: 60%;
     margin: 0 auto;
     margin-bottom: 2%;
     padding: 10px;
     border: 1px solid #ccc;
     border-radius: 8px;
     box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.1);
}

.fields-illness-form label {
     width: 60%;
     margin: 0 auto;
}

// ------------ Formulário - Allergias ------------

.fields-allergies-form {
     display: block;
     width: 80%;
     margin-top: 30px;
}

.fields-allergies-form input {
     width: 60%;
     margin: 0 auto;
     margin-bottom: 2%;
     padding: 10px;
     border: 1px solid #ccc;
     border-radius: 8px;
     box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.1);
}

.fields-allergies-form label {
     width: 60%;
     margin: 0 auto;
}