<app-menu></app-menu>
<section class="main-section">
     <app-infos></app-infos>
     <section class="first-options">
          <div class="option" (click)="redirectToCreate()">
               <div class="icon green">
                    <img src="/assets/cadastro-icon.png">
               </div>
               <p class="option-title">Cadastrar aluno</p>
          </div>
          <div class="option">
               <div class="icon blue">
                    <img src="/assets/list-icon.png">
               </div>
               <p class="option-title exibir">Exibir alunos</p>
          </div>
          <div class="option">
               <div class="icon yellow">
                    <img src="/assets/edit-icon.png">
               </div>
               <p class="option-title">Atualizar aluno</p>
          </div>
          <div class="option">
               <div class="icon red">
                    <img src="/assets/delete-icon.png">
               </div>
               <p class="option-title">Desativar aluno</p>
          </div>
     </section>
     <section class="search-student">
          <div class="title">
               <img src="/assets/lupa-icon.png">
               <h2>Procurar estudante pelo nome</h2>
          </div>
          <div class="input">
               <input type="text" name="student-name" placeholder="Digite aqui o nome do estudante">
               <button class="input-button">Pesquisar</button>
          </div>
     </section>
</section>
