.infos {
     display: flex;
     justify-content: space-between;
     padding: 0 5px 10px 5px;
}

.label-div {
     display: flex;
     align-items: center;
     width: 23%;
     justify-content: center;
     font-size: 18px;
}

.profile-infos {
     display: flex;
     align-items: center;
     width: 27%;
     justify-content: space-around;
}

.profile {
     width: 40px;
     height: 40px;
     cursor: pointer;
}

.notifications {
     border-radius: 40px;
     border: 1px solid #ccc;
     cursor: pointer;
}

.notifications img {
     width: 40px;
     height: 40px;
}