<app-menu></app-menu>
<section class="main-section">
     <app-infos></app-infos>
     <section class="first-insides">
          <div class="inside">
               <div class="icon green">
                    <img src="/assets/cadastro-icon.png">
               </div>

          </div>
          <div class="inside">
               <div class="icon blue">
                    <img src="/assets/cadastro-icon.png">
               </div>
          </div>
          <div class="inside">
               <div class="icon yellow">
                    <img src="/assets/cadastro-icon.png">
               </div>
          </div>
          <div class="inside">
               <div class="icon red">
                    <img src="/assets/cadastro-icon.png">
               </div>
          </div>
     </section>
</section>
