<header>
     <nav>
          <div class="logo-div">
               <img class="logo" src="/assets/logo.png">
          </div>
          <ul>
               <li><a href="/"><img class="icon" src="/assets/home-icon.png">Painel</a></li>
               <li><a href="/students-panel"><img class="icon" src="/assets/person-icon.png">Alunos</a></li>
               <li><a href="#"><img class="icon" src="/assets/employee-icon.png">Funcionários</a></li>
               <li><a href="#"><img class="icon" src="/assets/money-icon.png">Financeiro</a></li>
               <li><a href="#"><img class="icon" src="/assets/users-icon.png">Usuários</a></li>
               <li><a href="#"><img class="icon" src="/assets/logout-icon.png">Sair</a></li>
          </ul>
     </nav>
</header>
