<header>
     <nav>
          <img class="logo" src="#">
          <ul>
               <li><img class="icon" src="/assets/home-icon.png">Painel</li>
               <li><img class="icon" src="/assets/person-icon.png">Alunos</li>
               <li><img class="icon" src="/assets/employee-icon.png">Funcionários</li>
               <li><img class="icon" src="/assets/money-icon.png">Financeiro</li>
               <li><img class="icon" src="/assets/users-icon.png">Usuários</li>
               <li><img class="icon" src="/assets/logout-icon.png">Sair</li>
          </ul>
     </nav>
</header>
